#about {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 60px;
}

#about-information {
          flex: 3;
          display: flex;
          flex-direction: column;
          text-align: justify;
}

#pfp {
          width: 100px;
          flex: 2;
          border-radius: 10%;
          border: 3px solid rgb(209, 92, 112);
}