#about {
          display: flex;
          flex-direction: row;
          align-items: center;
}

#about-information {
          display: flex;
          flex-direction: column;
          height: 600px;
          width: 800px;
          text-align: justify;
}

#pfp {
          height: 700px;
          margin-right: 50px;
          border-radius: 10%;
          border: 3px solid rgb(209, 92, 112);
}