
html {
          font-size: 22px;
}

body {
          background-color: #d7ffca;
          color: rgb(209, 92, 112);
          margin: 0px;
          min-height: 100vh;
          display: flex;
          flex-direction: column;
}

#content {
          flex: 1;
          padding: 0px 80px;
          display: flex;
          flex-direction: column;
}

header {
          margin-top: 100px;
}

.flex-1 {
          flex: 1;
}

footer {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 20px 0px;
}

h1 {
          margin: 0px;
}

*::selection {
          background-color: rgb(209, 92, 112);
          color: #d7ffca;
}

hr {
          border-color: rgb(209, 92, 112);
          margin-left: 0;
          margin-right: 0;
}

a:link, a:visited, a:hover, a:active {
          text-decoration: underline;
          color: #ff009d;
}

